<!DOCTYPE html>
<html lang="es">

<head>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');
    </style>
</head>

<body>
    <div>
        <p>
            <a [routerLink]="['/usuario-principal']">
                <img src="https://images.pexels.com/photos/1239291/pexels-photo-1239291.jpeg?auto=compress&cs=tinysrgb&w=600"
                    alt="imagen de usuario" title="usuario">
            </a>
        </p>

        <p>
            <a [routerLink]="['/usuario-principal']">Tu Usuario</a>
        </p>

    </div>
</body>

</html>