<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8" />
    <title>DATOS DE USUARIO LOGEADO</title>

    <!--Estilos CSS-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat">
</head>

<body>
    <!--contenedor global que lo contiene todo-->
    <section id="global">
        <!--Cabecera de página-->
        <header>
            <div id="primera iamgen o impresion">
                <div style="align-items:center;" class="circular--portrait">
                    <img src="https://images.pexels.com/photos/1239291/pexels-photo-1239291.jpeg?auto=compress&cs=tinysrgb&w=600" />
                  </div>
                </div>
                <nav>
                    <!--Menú desplegable-->
                    <ul id="menu">
                        <li><a href="#">Formación</a>
                            <ul>
                                <li><a href="#">PRL</a></li>
                                <li><a href="#">Etica</a></li>
                            </ul>
                        </li>
                        <li><a href="#">Beneficios</a>
                            <ul>
                                <li><a href="#">Materiales</a></li>
                                <li><a href="#">Otros</a></li>
                            </ul>
                        </li>
                        <li><a href="#">Nóminas-PDF</a>
                            <ul>
                                <li><a href="#">2022</a></li>
                                <li><a href="#">2021</a></li>
                            </ul>
                        </li>
                    </ul>
                </nav>
                </header>

        <!--Slider-->
        <div id="slider">
        </div>

        <!--Desplegable-->


    </section>
</body>

</html>