<!DOCTYPE html>
<html lang="es">

<head></head>

<body>
    <h1>Contactos</h1>
    <table>
        <tr>
            <th>Nombre Compañia</th>
            <th>Telefono</th>
            <th>Email</th>
            <th>En Saldo</th>
        </tr>
        <tr class="odd">
            <td>Frans Bonhomme</td>
            <td>+33 265815466</td>
            <td>pepe@fransbonhomme.fr</td>
            <td>200.000€</td>
        </tr>
        <tr>
            <td>Leroy Merlin</td>
            <td>+33 456489165</td>
            <td>felipe@leroymerlin.fr</td>
            <td>100.000€</td>
        </tr>
        <tr class="odd">
            <td>Prolians</td>
            <td>+33 451254862</td>
            <td>joanfrancois@prolians.fr</td>
            <td>500.000€</td>
        </tr>
    </table>
<br>
<a [routerLink]="['/nuevocontactoform']">
    <button>Nuevo Contacto</button></a>

</body>

</html>