<!DOCTYPE html>
<html lang="es">

<head>

</head>

<body>
    <div>
        <form action="../form-result.php" target="_blank">
            <p>

                Nombre de Compañia: <input type="text" name="nombrecompleto"><br>
                Teléfono: <input type="text" name="telefono"><br>
                Email: <input type="text" name="email"><br>
                En Saldo: <input type="text" name="saldo"><br>
                <br>

                <input type="submit" value="Agregar Contacto">
            </p>

        </form>
    </div>
</body>

</html>